# Make
Makefile

# Vim
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
rcli
shm

# Gen
gen/

# ctags
tags

# coredump
core
